FLASK_ENV=development
HUGGINGFACEHUB_API_TOKEN=your-huggingface-api-token
GOOGLE_API_KEY=AIzaSyCJxOtSHVlSulkYPtqhQ1NJCr4aSHVfvLs
DATABASE_URL=postgresql://clairvyn_dev:<your-password>@clairvyn-db.c4le0w4yoxa0.us-east-1.rds.amazonaws.com:5432/clairvyn_db
FLASK_SECRET_KEY=4f7e92b0d1c1
FIREBASE_PROJECT_ID=app-123
AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
AWS_S3_BUCKET=clairvyn-ai-backend-bucket
AWS_S3_REGION=us-east-1